# Backend
PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/securegate?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://your-frontend-url.render.com

# Frontend (for Build time environment)
REACT_APP_API_URL=https://your-backend-url.onrender.com/api
